<div id='container'>
	<main>
		<!-- <h1 class='text-3xl font-bold underline'>Dean Jeffery</h1> -->

		<section id='hero' class='lg:flex lg:gap-x-12'>
			<h1>Dean Jeffery</h1>
			<section id='nav'>
				<a href='/' class='text-sm/6 font-semibold text-gray-900'>Home</a>
				<a href='/' class='text-sm/6 font-semibold text-gray-900'>About</a>
				<a href='/' class='text-sm/6 font-semibold text-gray-900'>Contact</a>
			</section>
		</section>
	</main>
</div>
