<header class='fixed top-15 right-0 left-0 mx-auto flex max-w-7xl items-center justify-center p-6 lg:px-8'>
	<nav id='nav' class='lg:flex lg:gap-x-12 bg-gray-500/10 p-4 rounded-xl'>
		<a href='/' class='font-semibold text-gray-900'>Home</a>
		<a href='/' class='font-semibold text-gray-900'>About</a>
		<a href='/' class='font-semibold text-gray-900'>Contact</a>
	</nav>
</header>
